.banner {
    position: relative;
    min-height: 100vh;
    background-color: #0b1d35;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: "Poppins", "Poppins";
}

.circulo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background-color: #102544;
    border-radius: 50%;
    opacity: 0.4;
    z-index: 1;
}


.imagen {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 200px;
}

.foto {
    width: 240px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #0b1d35;
}

.nombre {
    font-size: 3.5rem;
    font-weight: 300;
    margin-top: 25px;
}

.nombre {
    margin-right: 10px;
}

.apellido {
    color: rgba(255, 255, 255, 0.85);
}

/*Barra de skills*/

.skills {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #102544;
    display: flex;
    justify-content: center;
    gap: 400px;
    padding: 20px 0;
    z-index: 3;
}

.skill-iconos {
    width: 80px;
    height: 80px;
    display: block;
    margin: auto 5px;
}
