.footer {
  background-color: #102544;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  font-size: 0.9rem;
  text-align: center;
}

.footer p {
  margin: 0;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
